<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_table">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import robot_table urdf file -->
    <xacro:include filename="$(find robot_table_description)/urdf/robot_table.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="robot_table.ros2_control.xacro" />


    <xacro:robot_table_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
